* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Computer Modern Sans", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    background: transparent;
    color: white;
}

::-webkit-scrollbar { /* WebKit */
    width: 0px;
    background: transparent;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.welcomePage {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}

.welcomeText {
    justify-content: center;
    margin: auto;
    align-items: stretch;
    font-size: 50px;
    z-index: 10;
}


.terminal-line {
    position: relative;
}

.dummy-keyboard {
    opacity: 0;
    filter: alpha(opacity=0);
}

.user-input {
    position: relative;
}

/*cursor*/
.user-input::after {
    display: block;
    content: "|";
    width: 25px;
    height: 50px;
    position: absolute;
    top: -5px;
    right: -25px;
    animation: opacity 1s ease-in-out infinite;
    opacity: 0;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.home-container {
    width: 100%;
    background: black;
}

.home {
    margin: auto;
    max-width: 850px;
    line-height: 1.6;
}

p {
    margin: 20px auto;
}


.about {
    font-size: 20px;
}

.footer {
    padding: 35em 2em 2em;
    text-align: center;
}

a {
    /*lightmode 
    color:darkgreen;
    */
    color: ghostwhite;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    box-shadow: inset 0 0 0 0 ghostwhite;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0 0 0 ghostwhite;
    color: black; 
}

